@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Raleway:400,500,600,700,800|Roboto');


body {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    width: 100%;
    min-height: 1024px;
    background: #2b2b2b url("../img/slider-background%20photo.jpg") no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    padding-top: 40px;

}

.header .top-side {
    max-width: 1170px;
    height: 56px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
}

.header .top-side .logo {
    display: inline-flex;
    text-decoration: none;
    background: url("../img/logos.svg") no-repeat;
    height: 56px;
    align-items: center;
    left: 0;
    margin-right: auto;
}

.header .top-side h1 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 34px;
    /* Приближение из-за подстановки шрифтов */
    line-height: 56px;
    font-weight: 400;
    text-align: left;
    margin-left: 66px;
}

.header .top-side ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.header .top-side li {
    display: inline-flex;
    list-style: none;
    font-family: Montserrat;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: center;
    line-height: 56px;
    margin-right: 30px;
    align-items: center;
}

.header .top-side li a {
    text-decoration: none;
    color: #ffffff;
}

.header .top-side li a:hover {
    font-family: Montserrat;
    color: #c7b29a;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
}


.header .top-side li:last-child {
    margin-right: 63px;
}

.header .top-side .cart-icon {
    display: inline-flex;
    height: 24px;
    width: 18px;
    margin-right: 28px;
    align-self: center;
}

.header .top-side .search-icon {
    display: inline-flex;
    height: 24px;
    width: 24px;
    align-self: center;
}

.header .slider {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 285px;
}

.header .slider div {
    display: inline-flex;
}

.header .slider .content {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 589px;
}

.header .slider .content h2 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 36px;
    line-height: 34px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    margin-bottom: 14px;
}

.header .slider .content h3 {
    font-family: Raleway;
    color: #ffffff;
    font-size: 52px;
    line-height: 50px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 19px;
}

.header .slider .content p {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-top: 0;
    margin-bottom: 52px;
}

.header .slider .content a {
    text-decoration: none;
    background: #9a8775;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 53px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    width: 170px;
    height: 53px;
    margin-left: calc(50% - 85px);
}

.header .slider .content a:hover {
    color: #9a8775;
    background: #ffffff;
}

.header .slider .left,
.header .slider .right {
    width: 50px;
}

.header .slider .left a,
.header .slider .right a {
    width: 100%;
    max-height: 73px;
    line-height: 73px;
    content: url("../img/left.png");
}

.header .slider .right a {
    transform: rotate(180deg);
}

.header .slider .left a:hover {
    content: url("../img/right.png");
    transform: rotate(180deg);
}

.header .slider .right a:hover {
    content: url("../img/right.png");
    transform: rotate(0deg);
}
